<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.project.finalProject.dao.IPostDAO">
	<resultMap id="postResult" type="com.project.finalProject.model.PostVO">
		<result property="postNo" column="postNo" />
		<result property="postTitle" column="postTitle" />
		<result property="postContent" column="postContent" />
		<result property="postDate" column="postDate" />
		<result property="postTag" column="postTag" />	
		<result property="postHit" column="postHit" />	
		<result property="postFavorit" column="postFavorit" />	
		<result property="postState" column="postState" />
		<result property="postImg" column="postImg" />
		<result property="memNo" column="memNo" />	
		<result property="postDecl" column="postDecl" />
		<result property="postMap" column="postMap" />
		<result property="postWay" column="postWay" />
		<result property="postPrice" column="postPrice" />	
	</resultMap>
	
	<!-- index 페이지에 전체 내용 출력 (조회수 순) -->
  	<select id="listAllPost" resultMap="postResult">
  		SELECT * FROM post where postState = "판매중" ORDER BY postHit DESC;
  	</select>
	
	<!-- index 페이지에 전체 내용 출력 (최신 순) -->
  	<select id="listAllPostByDESC" resultMap="postResult">
  			SELECT * FROM post ORDER BY postNo DESC
  	</select>
	
	
	<!-- post -->
  	<select id="listPost" parameterType="int" resultMap="postResult">
  		SELECT * FROM post WHERE postNo=#{postNo} DESC
  	</select>
  	
	<!-- index 페이지에 전체 내용 출력 (인기순) -->
  	<select id="listAllPostByFavorit" resultMap="postResult">
  		SELECT * FROM post WHERE postState = "판매중" ORDER BY postFavorit DESC 
  	</select>
	
	<!-- 게시글 작성  -->
	<insert id="insertPost" parameterType="com.project.finalProject.model.PostVO">
		INSERT INTO post (postNo,postTitle,postContent,postDate,postTag,postHit,postFavorit,postState,postImg,memNo,postDecl,postMap,postWay,postPrice)
		VALUES (null,#{postTitle},#{postContent},default,#{postTag},#{postHit},#{postFavorit},#{postState},#{postImg},#{memNo},#{postDecl},#{postMap},#{postWay},#{postPrice})
	</insert>
	
	
	<!-- Post 페이지 이동 -->	
    <select id="detailVeiwPost" parameterType="int" resultType="com.project.finalProject.model.PostVO">
   		SELECT * FROM post WHERE postNo=#{postNo}
    </select>
	
		
		<!-- 상품 category 검색 -->
   <select id="searchPost" parameterType="string" resultType="com.project.finalProject.model.PostVO">
  		SELECT p.postNo, m.memNo, p.postTitle, p.postContent, p.postDate, p.postTag, p.postHit, p.postFavorit, p.postState, p.postImg, m.memId
 		FROM post p, member m
 		WHERE m.memNo = p.memNo AND p.postTag LIKE CONCAT("%", #{postTag}, "%")
   </select>
   
      <!-- 상품 title, content 검색 -->
   <select id="titleContentSearchPost" parameterType="string" resultType="com.project.finalProject.model.PostVO">
  		SELECT DISTINCT p.postNo, m.memNo, p.postTitle, p.postContent, p.postDate, p.postTag, p.postHit, p.postFavorit, p.postState, p.postImg, m.memId
 		FROM post p, member m
 		WHERE m.memNo = p.memNo AND (p.postTitle LIKE CONCAT("%", #{postKeyword}, "%") OR p.postContent LIKE CONCAT("%", #{postKeyword}, "%"))
   </select>
   
   <!-- 내가 쓴 글 찾기 -->
	<select id="myPost" parameterType="hashmap" resultType="com.project.finalProject.model.PostVO">
		SELECT * FROM 
			(SELECT @ROWNUM:=@ROWNUM+1 as rnum, postNo, postTitle, postContent, postDate, postTag, postHit, postFavorit, 
			postState, postImg, memNo
			FROM (SELECT * FROM post WHERE memNo=#{memNo}) as b1, (SELECT @ROWNUM := 0 ) rset) as b2
			<![CDATA[WHERE rnum>=#{start} and rnum<=(#{start}+9)]]>
	</select>
	
	<!-- 글 목록 수 -->
	<select id="postListCount" parameterType="int" resultType="int">
		SELECT count(*) FROM post WHERE memNo=#{memNo}
	</select>
	
	<!-- 관리자 Post detail 가져오기-->	
    <select id="manageDetailViewPost" parameterType="int" resultType="com.project.finalProject.model.PostVO">
   		SELECT p.*, m.memId FROM post p, member m WHERE p.postNo=#{postNo} and p.memNo = m.memNo
    </select>
	
	<!-- 관리자 Post allList 가져오기-->	
    <select id="manageAllPost" parameterType="int" resultType="com.project.finalProject.model.PostVO">
   		SELECT p.*, m.memId FROM post p, member m WHERE p.memNo = m.memNo order by postNo desc
    </select>
	
	
   <!-- Favorit +1 -->
   <select id="FavoritCountPlus" parameterType="int">
		UPDATE post set postFavorit=postFavorit+1 WHERE postNo=#{postNo}
	</select>
   
    <!-- hit +1 -->
   <select id="posthitplus" parameterType="int">
		UPDATE post set postHit=postHit+1 WHERE postNo=#{postNo}
	</select>
   
   <!-- 구매 확인 -->
  	<select id="updatePostState" parameterType="int">
  		UPDATE post SET postState="판매됨" WHERE postNo=#{postNo}
  	</select>
 
   	
   	<!-- 상품 삭제 -->
  	<select id="deletePost" parameterType="int">
  		delete from post where postNo=#{postNo}
  	</select>
 
 	<!-- 신고 횟수 증가 -->
  	<select id="declPlus" parameterType="int">
  		update post SET postDecl = postDecl+1 WHERE postNo=#{postNo};
  	</select>
 
 <!-- 관리자 EditPost  -->
  <update id="manageEditPosting" parameterType="com.project.finalProject.model.PostVO">
  		UPDATE post SET postTitle=#{postTitle}, postContent=#{postContent}, postTag=#{postTag}, postImg=#{postImg}, postWay=#{postWay}, postPrice=#{postPrice} WHERE postNo=#{postNo}
  </update>
  
  
  <!-- 카테고리별 상품 리스트 -->
   <select id="list" parameterType="string" resultType="com.project.finalProject.model.PostVO" >
        SELECT p.postNo, m.memNo, p.postTitle, p.postContent, p.postDate, p.postTag, p.postHit, p.postFavorit, p.postState, p.postImg, p.postWay, p.postMap, m.memId
       FROM post p, member m
       WHERE m.memNo = p.memNo AND p.postMap LIKE CONCAT("%", #{postMap}, "%")
     </select>
  
  	 	<!-- 관리자 Post 검색-->	
    <select id="postSearchManage" parameterType="string" resultType="com.project.finalProject.model.PostVO">
   		SELECT DISTINCT p.postNo, p.postTitle, p.postPrice, p.postWay, p.postDate, p.postTag, p.postHit, p.postFavorit, p.postState, p.postImg, m.memId
   		FROM post p, member m 
   		WHERE p.memNo = m.memNo
   		AND (p.postTitle LIKE CONCAT("%", #{postSearch}, "%") 
   		OR p.postTitle LIKE CONCAT("%", #{postSearch}, "%") 
   		OR p.postTag LIKE CONCAT("%", #{postSearch}, "%") 
   		OR m.memId LIKE CONCAT("%", #{postSearch}, "%"))
   		order by postNo DESC
    </select>
  
   	
</mapper>