* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  background: white;
}
#wrap {
  padding-top: 150px;
  width: 100%;
  margin: 0 auto;
}

#mainIndexBox{
   margin-top: -80px;
}

/************* Header ************/
#header {   
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  position: relative;
  width: 100%;
  height: 120px;
  background: white;
  text-align: center;
}


.cell{
   background: white;
   width: 110%;
   height: 80px;
   position: sticky;
   top:0;
   z-index:10;
}

#firstName{
   text-align: left;
   display: flex; 
   vertical-align: middle;
}

   
#naming{
   margin-left: 15px;
   margin-top: 32px;
}

.naming2{
   margin-left: 40px;
}

.naming3{
   margin-left: 40px;
}


.naming4{ 
   margin-left: 30px;
}

.naming5{
   margin-top: 30px;
   margin-left:77px;
}

.naming5A{
   margin:0;
   padding:0;
   margin-left:100px;
}

#hr2{
 height:25px;
 width:.2px;
 border-width:0;
 color:#000;
 background-color:#000;
 margin-top: 36px;
}

#hr3{
 width: 100%; 
 border: 1px solid #f0f0f0;
}

/* main logo */
#mainLogo {
  text-align: right;
  margin-right: 324px;
  padding: 10px;
 
}

#mainLogo a {
  color: black;
  text-decoration: none;
  font-size: 9px;
  font-weight: bold;
  padding: 0 8px;
}

#mainLogo h2 {
  display: inline;
}


/************* SearchBar ************/
#SearchBarBox {
  padding: 0;

}

#SearchBar {
  margin:0%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 420px;
  height: 40px;
  font-size: 10px;
  border: 1px solid red;
  background-color: #FAFAFA;
  padding: 0 10px;
  
  margin-top: 29px;
  z-index: -200;
}

#SearchBar > div:nth-child(2) {
  width: 80%;
}

#SearchBar:hover {
  background-color: rgb(209, 192, 175);
}

#searchBarInput {
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  
  font-size: 20px;
  text-align: left;
}

#searchBarInput:focus {
  outline: none;
}

#searchBtn {
   visibility: hidden;
}

#SearchBar i:hover {
  opacity: 0.5;
}

#searchPost {
   margin-right: 5px;
}
#popup_open_btn{
   border: none;
   background: none;
   font-weight: bold;
   font-size: 7px;
}
#searchPost:hover, #popup_open_btn:hover{
   cursor:pointer;
}


/* hotItems */

#hotItemsSection {
  margin-top: 20px;
}

.class-list {
  display: flex;
  list-style: none;
  padding: 1rem 0;
  margin: 0;
  overflow: none;
}

a {
  text-decoration-line: none;
}

.class-tag{
   margin-right: 61px;
}

#firstRecommand{
   font-size: 30px;
}

.class-image {
  /* max-width: 200px; */
  border-radius: 8px 8px 0 0;
  width:100%;
  height:100%;
  object-fit:cover;
}

.class-image2 {
  margin:28px;
  border-radius: 8px 8px 0 0;
  width:55%;
  height:55%;
  object-fit:cover;
}

.class-card {
  height: 200px;
  width: 220px;
  margin: 0 10px;
  transition: 0.4s;
  box-shadow: 1px 1px 1px 1px rgba(25, 42, 70, 0.2);
  background-color: #FAFAFA;
  transition: 0.4s;
  flex-shrink: 0;
}

.information{
   font-size: 0.9em;

}

.class-card2 {
  height: 100px;
  width: 100px;
  margin: 0 30px;
  transition: 0.4s;
  border-radius: 30px;
  box-shadow: 1px 1px 1px 1px rgba(25, 42, 70, 0.2);
  background-color: #FAFAFA;
  transition: 0.4s;
  flex-shrink: 0;
}

.class-card3 {
  height: 120px;
  width: 120px;
  margin: 0 30px;
  transition: 0.4s;
  border-radius: 30px;
  box-shadow: 1px 1px 1px 1px rgba(25, 42, 70, 0.2);
  background-color: #FAFAFA;
  transition: 0.4s;
  flex-shrink: 0;
}

.icon1{
   margin-left:43px;
   margin-top:36px;
}
.icon2{
   margin-left:31px;
   margin-top:36px;
}
.icon3{
   margin-left:38px;
   margin-top:36px;
}
.icon4{
   margin-left:31px;
   margin-top:36px;
}
.icon5{
   margin-left:31px;
   margin-top:36px;
}
.icon6{
   margin-left:36px;
   margin-top:36px;
}
.icon7{
   margin-left:34px;
   margin-top:36px;
}


.class-card:hover {
  box-shadow: 1px 1px 1px 1px rgba(25, 42, 70, 0.2);
  transform: translate(0, -5px);
}

.class-card2:hover {
  box-shadow: 1px 1px 1px 1px rgba(25, 42, 70, 0.2);
  transform: translate(0, -5px);
}

.class-card3:hover {
  box-shadow: 1px 1px 1px 1px rgba(25, 42, 70, 0.2);
  transform: translate(0, -5px);
}


.class-container {
  margin: 0 10px;
  height: 120px;
  width: 220px;
  box-shadow: 1px 1px 1px 1px rgba(25, 42, 70, 0.2);
  padding: 0.5rem 1rem 1rem 0.2rem;
  background-color: ivory;
}

.class-skill {
   display:flex;
   justify-content:space-between;
    margin: 5px 0; 
    width:100%;
} 

.class-skill2 {
   display:flex;
   justify-content:space-start;
    margin: 5px auto; 
} 

.class-type {
  font-size: 0.9rem;
  color: #e9e7e3;
}

.class-format {
  font-size: 0.8rem;
  color: #fff;
  background-color: #bd8f3c;
  padding: 0.3rem;
}

.class-format2 {
  font-size: 0.8rem;
  color: #fff;
  background-color: green;
  padding: 0.3rem;
}

.class-format3 {
  font-size: 0.8rem;
  color: #fff;
  background-color: #73d9fb;
  padding: 0.3rem;
}

.class-desc {
  width: 100%;
  margin-top: 1rem;
  color: #e9e7e3;
}

.class-desc:hover {
  color: #f8b132;
}

.class-title {
  font-weight: bold;
  color: inherit;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0.5rem;
}

.class-detail {
  font-size: 0.9rem;
  color: inherit;
  line-height: 1.5rem;
}

/************* Footer ************/
#footer {
  margin-left:21%;
  margin-top: 50px;
  width: 100%;
  height: 400px;
  padding: 80px 13px 35px 13px;
  background: white;
}

/* info */
#info1 h3 {
  margin-top: 8px;
}

#footerInfo > div {
  margin-top: 18px;
}

#footer a {
  text-decoration: none;
  margin: 0 12px 0 0;
}

#info4 {
  line-height: 28px;
}

/* toTopBtn */
#toTopBtn {
  position: fixed;
  top: 94%;
  left: 84%;
  font-size: 40px;
  color:#e9e7e3;
}

#toTopBtn:hover {
  opacity: 0.7;
  cursor: pointer;
}


#aside1 {
   position: fixed;
   margin-top: 40px;
   margin-left: 95.6%;
    width: 80px;
    height: 360px;
    background: white;
    float: left;
    z-index:999;
    border: 0.5px solid;
    border-radius: 20px;
    text-align: center;
    padding:0;
  }

.asideNaming{
   font-size:small;
}
