
* {
    box-sizing: inherit;
}
div {
    display: block;
}
#wrap2 {

    width: 768px;
    margin: 5rem auto 0px;
}
#content{
    text-align: left;
}
#bottomid{
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    margin-right: 44rem;
    margin-bottom: 5px;
}

a {
	text-decoration: none; color: black; 
}

a:visited {
	text-decoration: none; 	
}


.topmem {
    -webkit-box-align: center;
    align-items: center;
    font-size: 1rem;
    color: rgb(73, 80, 87);
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.posttitle {
    margin: 1rem;
    float: left;
    width: 200px;
    height: 250px;
    background-color:white;
    margin-bottom:100px;
}
.titleindex{
    padding: 1rem;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
}
.postindex{
    padding: 1rem;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
}

.titlebottom{
    display: flex;
    font-size: 0.75rem;
    line-height: 1.5;
    -webkit-box-pack: justify;
    justify-content: space-between;
}


.bottomNewlist {
    margin-top: 4rem;
    margin-bottom: 3rem;
}
.posttitle {
    margin: 1rem;
    float: left;

}
.title {
    margin-left:30px;
    width: 170px;
    height: 200px;
    text-align: center;
}

input{
    border:0;
}

#bottomNewlistTitle{
    width:150px;
    margin-top:100px;
}







#subfunction{
display: inline-block; 
}



#favoritbtn{
	display: flex;
	margin:0;
	width:700px;

}


#favoritbtn img{
	

	width:23px; 
	height:23px;
	margin-right:10px;
	
}

#favorit{
	width:30px;
}

#favoritPost{
	margin-right:350px;
}


.buybtn{
 	border: 1px solid rgb(238, 238, 238);
    height: 32px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 20px;
    font-size: 13px;
    color: rgb(136, 136, 136);
    width:100px;
    margin-right:3px;
}


.deletebtn{
 	border: 1px solid rgb(238, 238, 238);
    height: 32px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 20px;
    font-size: 13px;
    color: rgb(136, 136, 136);
    width:100px;
    margin-right:3px;
}

#buy{
	background-color:white;
}


.chatingDate{
    color: #848484;
    font-size: 10px;
    font-weight: normal;
    letter-spacing: 0;
    font-family: tahoma;
}

.chathr{
	border-top : 1px dashed #bbb; border-bottom : 1px dashed #fff
}

#chatContent{
	width: 100%;
    padding: 20px;
    height: 80px;
    border: 1px solid rgb(238, 238, 238);
}

#chatbottom{
	display: flex;
    width: 100%;
    height: 50px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    
}

#chatsubmitbtn{
	border: 1px solid rgb(238, 238, 238);
    height: 32px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 20px;
    font-size: 13px;
    color: rgb(136, 136, 136)
}

#chatsubmit{
	background-color:white;
}

.chatbtnimg{
	height:60%;
	margin-right:5px;
}

#contentbtn{
	display: flex;
}

#tagimg{
	width: 13px;
    aspect-ratio: auto 13 / 16;
    height: 16px;
}

#tagtop{
	color: rgb(178, 178, 178);
	text-decoration: none;
    display: block;
    margin-top: 25px;
    padding-bottom: 23px;
    position: relative;
    
}

#delete{
	background-color:white;
}

#favoritPost{
	background-color:white;
	border:0;
	outline:0;
}