/**
 출처:https://blogpack.tistory.com/702#google_vignette
 */

.mobile-menu {
    display: block;
    position: relative;
    top : -40px;
    left: 15px;
    z-index: 500;
    width: 35px;
    height: 35px;
    padding: 5px;
    background-color: #f0f0f0;
    border: 0;
    margin-left: 365px;
    margin-top: 72px;
}

.mobile-menu i {
    font-size: 2em;
}
.menuwrap {
    position: fixed;
    top: 120px; 
    left: -200px; /* 너비 300px 인 사이드바를 왼쪽으로 300px 이동시켜 화면에 보이지 않게 함 */
    z-index: 100;
    overflow: auto;
    width: 200px; /* 너비 */
    height: 70%;
    padding: 50px 20px;
    box-sizing: border-box;
    transition: left .3s ease-in-out; /* 0.3초 동안 이동 애니메이션 */
    background-color: rgb(226, 226, 226);
    border: 1px solid black;
}
    
.menuwrap.on {
    left: 0;
}
#dimmed {
    
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}



nav {
  width: 150px;
}
ul { padding: 0; }

li {
  list-style: none;
  line-height: 34px;
}

#navA{
  display: block; /* 중요 */
  text-decoration: none;
  color: #616161;
  text-align: center;
}

.snd_menu { background: #efefef; }
.trd_menu { background: #ddd; }
.sub_menu { display: none; } /* 서브메뉴들 숨김 */

.selec { background: #c45; color: #efefef; }
